body{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 20px auto;
}

.Header{
    font-size: xx-large;
    max-width: 300px;
    margin: 20px auto;
}

#grid{
    display: table;
    border-style: solid;
    max-width: 500px;
    max-height: 500px;
    width: 500px;
    height: 500px;
    margin: 5px 0;
    background-color: rgb(222, 232, 228);
}

/* Set-up buttons with toggle state */

.row{
    display: table-row;
}

.gridsquare{
    display: table-cell;
    border-width: thin;
    border-style: outset; 
    height: auto;
}

.gridsquare.Outset{
    border-width: thin;
    border-style: outset; 
}

.gridsquare.Empty{
    border-style: none; 
}

.gridsquare:hover{
    background-color: black;
}

.button-line{
    display: flex;
    justify-content: space-between;
    padding: 7px 0 0 0;
    width: 500px;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
}

input[type=number]{
    margin: 0 10px 0 3px;
}

input[type=button]{
    
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    transition-duration: 0.4s;
}

input[type=button]:hover {
    background-color: #2d3568;
    color: white;
}

.colorPallette{
    width: 500px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px 0;
    height: 20px;
}

.grid-container {
    display: grid;
    height: 20px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.grid-head{
    padding-left: 5px;
    margin: auto 15px;
}

.grid-item1{
    background-color: blue;
}

.grid-item2{
    background-color: red;
}

.grid-item3{
    background-color: yellow;
}

.grid-item4{
    background-color: orange;
}

.grid-item5{
    background-color: green;
}

.grid-item6{
    background-color: violet;
}

.grid-item7{
    background-color: black;
}